@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

html {
    font-size:100%;
    box-sizing: border-box;
    height:100%;
    
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #F2F2F2;
    font-size: 1.1em;
    line-height: 1.4;
}


.bio-container {
    
}

.intro {
    display:flex;
    height:500px;
    justify-content: center;
    align-items: center;
    background-image: url("images/nathan-da-silva-k-rKfqSm4L4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed top;
    background-position: center;
   
}

.intro-text {
    position:absolute;
    text-align: center;
    margin: 0 auto;
    padding:10px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size:2em;
}

.white {
    color:white;
}

.red {
    color:#ff4556
}
.tint-overlay {
    height:100%;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    opacity: 0.6;

}
.bio {
    margin: 20px;
    border: 3px solid #ff4556;
    text-align:center;
    padding:20px;
}

.projects-container {
    display:flex;
    border: 1px solid blue;
    flex-direction: column;
    text-align: center;
    padding:10px;
}

.skills {
    background-color: #ff4556;
    text-align: center;
    padding: 2em;

}

i {
    color:white;
    font-size: 4em;
}

.projects {
    display:flex;
    align-items: center;
    flex-direction: column;    

}

.project {
    border: 1px solid purple;
    margin:10px;
    padding:10px;
    width:300px;
    height:300px;
    align-items: center;

}

.contact {
    background-color: lightgray;
    width:100%;
    text-align: center;
}

/* responsive for tablets */

@media only screen and (min-width:688px) {
    body {
        margin: 0 auto;
    }

    
}

/* responsive got desktop */
@media only screen and (min-width: 1200px) {
    html {
        height:100%;
        margin: 0 auto;
    }

    body {
    }

    .bio-container {
        width:100%;
    }
   
    .intro {
        height:800px;
    }

    h1 {
        font-size: 5em;
    }
    .projects {
        display:flex;   
        flex-direction: row;
        justify-content:space-evenly;

    }

}