@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');


html {
    margin:0 auto;
    font-size:100%;
    box-sizing: border-box;
    height:100%; 
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

body {
    margin: 0 auto;
    padding: 0px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #F2F2F2;
    font-size: 1.1em;
    line-height: 1.4;
}

.full-width {
    width:100%;
    margin: 0 auto;
    
}

.wrap {
    border:1px yellow solid;
}

.flex {
    display:flex;
}

.header {
    box-sizing: border-box;
    top: 0;
    left:0;
    margin:0 auto;
    position: fixed;
    height:2.4em;
    color:white;
    background:#000000;
    z-index: 100;
    font-size: 0.8em;
    padding-top:0.8em;
    padding-bottom:0.8em;
}
.navbar {
    justify-content: space-around;
}

.header a {
    text-decoration: none;
}

.header a:hover {
    text-decoration: none;
    font-weight: 700;
    color:#ff4556;
    cursor: pointer;
    border-bottom: 2px solid #ff4556;
    transition: 0.3s ease;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

#bio, #skills, #projects-container, #contact {
    scroll-margin-top: 50px;
    margin:20px;
  }

.intro {
    display:flex;
    height:500px;
    justify-content: center;
    align-items: center;
    background-image: url("images/nathan-da-silva-k-rKfqSm4L4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed top;
    background-position: center;
   
}

.intro-text {
    position:absolute;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size:2em;
}

.white {
    color:white;
}

.red {
    color:#ff4556;
}

.tint-overlay {
    height:100%;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    opacity: 0.6;
}

.bio {
    text-align:center;
    padding:20px;
}

.skills {
    background-color: #ff4556;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;

}

.skills i {
    color:white;
    font-size: 4em;
    margin:30px;
    filter: drop-shadow(5px 15px 4px #87242D);

}
/* Project Section*/

.projects-container {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding:10px;
    justify-content: center;
}

.projects {
    display:flex;
    align-items: center;
    flex-direction: column;    
    justify-content: center;
    text-align: left;
}

.project {
    position:relative;
    margin:10px;
    padding:0px;
    width:300px;
    height:300px;
    align-items: center;
}

.project-img {

    width:100%;
    height:100%;
    object-fit: contain;
    background:#F2F2F2;
}

.project-img :hover {
    background: none;
}

.project-overlay {
    
    position:absolute;
    top:0px;
    padding:10px;
    background-color: rgba(218, 218, 218, 0.9);
    object-fit: fill;
    
}

.project-overlay .hidden {
    display:none;
}

.hidden {
    display:none;
}



/* Contact section*/

.contact {
    background-color: lightgray;
    text-align: center;
    padding:40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    display:flex;
    justify-content: center;
    flex-direction: row;
    color:#FFFFFF;
}

.icons i {
    font-size:3em;
    padding:0.5em;
}

.icons i:hover {
    color:#ff4556;
}

.border-gradient {
    border: 12px solid;
    border-image-slice: 1;
    border-width: 10px;
  }

.border-gradient-red {
    border-image-source: linear-gradient(to left, #FFB8BE, #ff4556)
  }

/* responsive for tablets */

@media only screen and (min-width:688px) {
    body {
        margin: 0 auto;
    }
}

/* responsive got desktop */
@media only screen and (min-width: 1312px) {
    html {
        height:100%;
        margin: 0 auto;
    }

    .header {
        justify-content: right;
        height:35px;
        font-size: 1.2em;
    }

    .bio {
        max-width:1200px;
        margin: 20px auto;
        font-size: 1.2em;
    }

    .bio-container {
        width:100%;
    }
   
    .intro {
        height:800px;
    }

    h1 {
        font-size: 5em;
    }

    .projects {
        display:flex;   
        flex-direction: row;
        justify-content:space-between;
        margin: 20px auto;
        max-width: 1200px;

    }

}