@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.App {
  min-height:100vh;
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  font-family: 'Merriweather', serif;
  padding:25px;
}

h1 {
  text-align: center;
}

.search-form {
  min-height: 10vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border:none;
  padding:10px;
}

.search-button {
  background: lightcoral;
  border:none;
  padding: 10px 20px;
  color:white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align:center;
  padding:6px;
}

